@import "tailwindcss";


@font-face {
  font-family: 'Figtree';
  src: url('./assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'FigtreeItalic';
  src: url('./assets/fonts/Figtree-Italic-VariableFont_wght.ttf') format('truetype');
}

:root {
  font-family: Figtree, sans-serif;
}

@layer components {
  .table-header-row {
    @apply text-center text-[#2782E2] px-4 py-2;
  }

  .table-row {
    @apply bg-[#D9F2FF] text-[#2782E2] font-medium text-center transition-colors;
  }

    .table-row-hover:hover {
    @apply bg-[#2782E2] text-white font-medium cursor-pointer;
  }

  .table-row-warning {
    @apply bg-[#D01338] text-white text-center font-medium transition-colors;
  }

  .table-row-warning:hover {
    @apply bg-[#A91330] font-medium cursor-pointer;
  }

  .table-row-warning-past {
    @apply bg-[#D9F2FF] text-[#D01338] font-medium text-center transition-colors;
  }

  .table-row-warning-past:hover {
    @apply bg-[#2782E2] font-medium text-black cursor-pointer;
  }

}